@import "../../styles";

header {
  display: grid;
  background: $gray-60;
  color: $color-white;
  app-login {
    border-top: 1px $gray-45 solid;
}
  
  mat-toolbar {
    display: flex;
    justify-content: space-between;
    max-width: 920px;
    margin: auto;
    box-sizing: border-box;
    background: $gray-60;
    color: $color-white;
    font-family: 'Nunito', sans-serif;
    font-size: .75rem;
    font-weight: 400;
    .content-wrapper {
      justify-content: space-between;
    }
    .logo-container {
      display: flex;
      gap: 16px;

      img {
        cursor: pointer;
      }


      .logo {
        height: 32px;
    
      }
}
    
  
    .access-panel {
      display: flex;
      align-items: center;
      gap: 6px;
  
      &-option {
        display: flex;
        gap: 8px;
        cursor: pointer;
  
        p {
          font-weight: 400;
          margin-bottom: 0;
        }
      }
  
      &-divider {
        width: 1px;
        height: 1rem;
        margin: 0 8px;
        background: $color-white;
      }
    }
  }
}