<footer>
    <mat-toolbar>
    <nav class="footer-navbar" role="navigation">
        <ul>
            <li></li>
            <li class="footer-navbar-element" aria-label="Link 1">Link 1</li>
            <div class="divider"></div>
            <li class="footer-navbar-element" aria-label="Link 1">Link 2</li>
            <div class="divider"></div>
            <li class="footer-navbar-element" aria-label="Link 1">Link 3</li>
            <div class="divider"></div>
            <li class="footer-navbar-element" aria-label="Link 1">Link 4</li>
        </ul>
    </nav>

        <ul class="footer-social-media">
            <li><a href="https://twitter.com/vueling?lang=en" target="_blank" aria-label="Visit Vueling Twitter"><img src="assets/twitter.svg" alt="Twitter logo"></a></li>
            <li><a href="https://es-es.facebook.com/Vueling/events/" target="_blank" aria-label="Visit Vueling Facebook"><img src="assets/facebook.svg" alt="Facebook logo"></a></li>
            <li><a href="https://www.instagram.com/vueling/?hl=en" target="_blank" aria-label="Visit Vueling Instagram"><img src="assets/instagram.svg" alt="Instagram logo"></a></li>
            <li><a href="https://www.youtube.com/c/vueling" target="_blank" aria-label="Visit Vueling Youtube Channel"><img src="assets/youtube.svg" alt="Youtube logo"></a></li>
        </ul>
    </mat-toolbar>
</footer>