<mat-card class="example-card" (click)="onCardClick()" role="button" tabindex="0" role="button" tabindex="0" [attr.aria-label]="'Airport' + airport.name + ' details'">
    <mat-card-header>
      <mat-card-title>{{airport.name}}</mat-card-title>
      <mat-card-subtitle>{{airport.key}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p><strong>City:</strong> {{airport.city}}</p>
      <p><strong>Country:</strong> {{airport.country}}</p>
    </mat-card-content>
  </mat-card>