<div class="content-wrapper">
  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()" role="form">
    <fieldset  class="login-form-title">
      <legend>Log in</legend>
    </fieldset>
      <input type="text" id="username" formControlName="username" placeholder="Username">
    
      <input type="password" id="password" formControlName="password" placeholder="Password">
    
      <button class="btn btn-yellow" type="submit" [disabled]="loginForm.invalid" aria-label="Submit Login">Go</button>
    </form>
</div>

  