
/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

/* Color variables */
$color-primary-a:                     #FFCC00;
$color-primary-b: #eae0c3;

$color-white:                         #FFF;
$gray-10:                             #F7F7F7;
$gray-15:                             #F3F3F3;
$gray-18:                             #E9E9E9;
$gray-20:                             #DDD; //color-primary-b--light
$gray-30:                             #CCC;
$gray-45:                             #999;
$gray-60:                             #4D4D4D; //color-primary-b
$gray-75:                             #333; // color-primary-b--dark
$color-black:                         #000;


/* global styles */

* {box-sizing: border-box;}
html, body { height: 100%; background: $gray-10}
body { margin: 0; font-family: 'Nunito', sans-serif;}

.content-wrapper {
    width: 100%;
    max-width: 920px;
    display: flex;
    margin: auto;
}

