
/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

/* Color variables */
$color-primary-a:                     #FFCC00;
$color-primary-b: #eae0c3;

$color-white:                         #FFF;
$gray-10:                             #F7F7F7;
$gray-15:                             #F3F3F3;
$gray-18:                             #E9E9E9;
$gray-20:                             #DDD; //color-primary-b--light
$gray-30:                             #CCC;
$gray-45:                             #999;
$gray-60:                             #4D4D4D; //color-primary-b
$gray-75:                             #333; // color-primary-b--dark
$color-black:                         #000;


/* global styles */

* {box-sizing: border-box;}
html, body { height: 100%; background: $gray-10}
body { margin: 0; font-family: 'Nunito', sans-serif;}

.content-wrapper {
    width: 100%;
    max-width: 920px;
    display: flex;
    margin: auto;
}

.content-wrapper >  *:not(router-outlet) {
    flex: 1 1 auto;
}

.content {
    display: grid;
    gap: 1rem;
    padding: 1rem 0;
}
   


/* Global components */

/* hero */
.hero img{
    border-radius: 8px;
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: bottom;
}

/* buttons */
.btn {
    padding: .6rem 2.1rem;
    font-weight: bold;
    border: none; 
    border-radius: 30px;
    font-size: 1.2rem; 
    color: $color-black;
    cursor: pointer;
    &-yellow{
        background-color: $color-primary-a;
    } 
}

/* text */

.page-header {
    padding: 2rem 0 1rem 0;
    margin: 0;
}

@media (width < 920px) {
    .content-wrapper {
        width: auto;
        margin: auto 1rem;
    }
  }